/* Datos personales: Enol Monte Soto, UO287616 */

/* Estilos generales del proyecto MotoGP-Desktop */

/*
 Gama cromática:
    --midnight-blue: #145DA0;
    --dark-blue: #0C2D48;
    --blue: #2E8BC0;
    --baby-blue: #B1D4E0;
    --white: #F0F0F0;
    --accent-orange #F4A261
    --orange #BF5700
*/

/* Especificidad -> 001 */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    background-color: #B1D4E0;
    color: #0C2D48;
    margin: 0 5%
}

/* Especificidad -> 001 */
header {
    color: #F0F0F0;
    background-color: #0C2D48;
    padding: 0 2%;
}

/* Especificidad -> 001 */
h1 {
    color: #F4A261;
    /* Color de fondo se hereda de header */
}

/* Especificidad -> 001 */
nav {
    color: #F0F0F0;
    font-size: 1.15em;
    /* Color de fondo se hereda de header */
}

/* Especificidad -> 002 */
header a {
    color: inherit;
    /* Color de fondo se hereda de header */
    text-decoration-line: none;
}

/* Especificidad -> 010 */
.active {
    color: #F4A261;
    /* Color de fondo se hereda de header */
    font-weight: bold;
}

/* Especificidad -> 012 */
body>p:first-of-type {
    font-size: 0.8em;
}
