/* Datos personales: Enol Monte Soto, UO287616 */

/* Estilos del proyecto MotoGP-Desktop relativos al posicionamiento de los elementos */

/* Especificidad -> 001 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* Especificidad -> 001 */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
}

/* Especificidad: 002 */
header h1 {
    flex: 1;
    justify-content: space-between;
}

/* Especificidad -> 002
    Selector con main porque así está construido el HTML */
main>div {
    width: 100%;
    height: 60vh;
}

/* Especificidad -> 001 */
img {
    max-width: 100%;
}

@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad -> 001 */
    header,
    nav {
        /* Aviso de redefinición permitido */
        flex-direction: column;
        /* Aviso de redefinición permitido */
        align-items: flex-start;
        text-align: left;
    }

    /* Especificidad -> 002 */
    nav a {
        flex-direction: column;
    }

    /* Especificidad -> 001 */
    video {
        width: 100%;
        height: 50vh;
    }

    /* Especificidad -> 001 */
    audio {
        width: 80%;
    }

    v body>p:first-of-type {
        display: none;
    }

    /* Especificidad -> 003 */
    article h2+img {
        width: 100%;
        height: auto;
    }

    /* Especificidad -> 002 */
    main>div {
        width: 100%;
        /* Aviso de redefinición permitido */
        height: 50vh;
    }
}