/* Datos personales: Enol Monte Soto, UO287616 */

/* Hoja de estilos para el juego de cartas. */

/* Especificidad -> 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    grid-gap: 2em;
}

/* Especificidad -> 011 */
main>*:first-child {
    grid-column: 1 / -1;
    text-align: center;
    grid-gap: 0;
}

@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad -> 001 */
    main {
        /* Aviso de redefinición permitido */
        grid-template-columns: repeat(2, 1fr);
        /* Aviso de redefinición permitido */
        grid-template-rows: auto repeat(6, 1fr);
    }

    /* Especificidad -> 002 */
    main article {
        width: 40vw;
    }

}